matplotlib==3.9.0
numpy==1.26.4
opencv_python==4.9.0.80
Pillow==10.3.0
scikit_learn==1.5.0
Shapely==2.0.4
skimage==0.0
supervision==0.21.0
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
ultralytics==8.2.26
